<head>
	<title>Pop-up</title>
	<link href="main.css" rel="stylesheet">
	<script src="angular.min.js"></script>
    <script src="index.js"></script>
</head>
</head>
<body ng-app="myApp">
<div ng-init="label='Hello World!'">
<my-dir title="Pop-up Section" open="true" onSubmit="{{alert('Thank you for your feedback!')}}">{{label}}</my-dir>
</div>
</body>