#close {
    float:right;
    display:inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

#close:hover {
    float:right;
    display:inline-block;
    background:#cc0000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

#moduleWindow {
    position: fixed;
    bottom: 0;
    right: 10%;
    border: black 1px solid;
    max-width: 450px;
    max-height: 500px:
}

#moduleHeader {
    margin: 5px;
}

#moduleTitle {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color: #4d0026;
}

 .editBut {
     margin: 5px 10px 5px;
     float: right;
     border: 1px solid #b3ffb3;
     border-radius: 5px;
     background: linear-gradient(to right, #00b300, #008000);
     width: 8ch;
     text-align: center;
}
 .submitBut:hover {
     color: #b3ffb3;
}

 .cancelBut {
     background: linear-gradient(to bottom right, #ff0000, #660000) !important;
     border-color: #ff3333 !important;
}

 .cancelBut:hover {
     color: #d9d9d9;
}

#moludeContent{
    margin: 5px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: #000;
    text-align: center;
}